---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";
import RSSIcon from "@components/RSSIcon";
import RandomGlossaryWords from "@components/RandomGlossaryWords";
import StyledTitle from "@components/StyledTitle";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main class="font-serif" id="main-content">
    <section id="hero" class="max-w-[700px]">
      <h1 class="mr-2">
        The <StyledTitle
          insertExpansions
          phiTranslateAmount="-translate-x-[12px] -mr-[12px]"
        /> reading group
      </h1>
      <RSSIcon />

      <p>
        Welcome to the official website of the AI-PHI reading group co-animated
        by Aïda E. (ENS Ulm) and Michael A. & Stefan L. (Sony CSL Paris).
      </p>
      <p>
        Check the <a
          class="font-bold text-skin-accent hover:underline decoration-dashed underline-offset-4"
          href="/agenda">Agenda</a
        > tab for the upcoming meetings of the reading group.
      </p>
      <p>
        We sure love to nitpick about wording and definitions, check the
        ever-evolving
        <a
          class="font-bold text-skin-accent hover:underline decoration-dashed underline-offset-4"
          href="/glossary">Glossary</a
        > for our most up-to-date takes on terms such as:
        <RandomGlossaryWords client:load />...
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  #ai,
  #phi {
    display: inline-flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    &::before,
    &::after {
      font-size: x-small;
      font-style: italic;
    }
  }
  #ai &::after {
    content: "Artificial Intelligence";
  }
  #phi &::after {
    content: "Philosophy";
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
